* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-tab-content] {
    display: block;
}

.inactive[data-tab-content] {
    display: none;
}



.container[class="container dark"] {
    --bg-general: #37383C;
    --bg-trending: #222326;
    --h1-h2: #FFFFFF;
    --p: #FFFFFF;
    --span: #50E3C2;
    --border: #000000;
    --border-input: #ffffff;
    --bg-drop: #000000;
    --opacity: 1;
    --dropElements: #ffffff
}

.container {
    display: flex;
    flex-direction: column;
    --bg-general: #FFFFFF;
    --bg-trending: #F3F5F8;
    --h1-h2: #572EE5;
    --p: #000000;
    --span: #50E3C2;
    --border: #572EE5;
    --bg-drop: #572EE5;
    --opacity: 0.9;
    --dropElements: #ffffff;
    --border-input: #572EE5;

    h1,
    h2 {
        color: var(--h1-h2);
    }

    p {
        color: var(--p)
    }



    .header {
        border-top: 5px solid var(--border);
        padding: 24px 26px 17.2px 22px;
        height: 95px;
        display: flex;
        justify-content: space-between;
        background: var(--bg-general);

        div {
            display: flex;
            align-items: center;
        }

        .burguer {
            display: block;
            position: relative;
            top: 17px;
            z-index: 99;
        }



    }

    .expand-gif {
        width: 100%;
        height: 600px;
        justify-content: center;
        background: rgb(201, 20, 20);
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);

        img {
            width: 85%;
            height: 220px;
        }

        .overlay {
            width: 85%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;

            .children1 {
                margin-top: 14px;

                h3 {
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    color: #000000;
                    text-align: left;
                    margin-bottom: 6px;
                    height: 18px;
                }

                h2 {
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    color: #000000;
                    text-align: left;
                }
            }

            .children2 {
                margin-top: 26px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 36px;
                    height: 36px;
                }

                :last-child {
                    display: none;
                }
            }
        }

        &.inactive {
            display: none;
        }
    }

    .main {
        position: relative;



        .drop-menu {
            position: absolute;
            height: 100%;
            width: 100%;
            background: var(--bg-drop);
            opacity: var(--opacity);
            z-index: 1;

            ul {
                li {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    color: var(--dropElements);
                    text-align: center;
                    line-height: 60px;
                }

                div {
                    width: 41px;
                    margin: 0 auto;
                    border: 1px solid var(--dropElements);
                    opacity: 0.5;
                }

            }
        }



        .search-section {
            background: var(--bg-general);

            .article1 {
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                h1 {
                    width: 72.8%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                    text-align: center;
                    margin-bottom: 31px;
                    line-height: 33px;

                    span {
                        font-size: 25px;
                        color: var(--span);
                    }
                }

                img {
                    width: 72.8%;
                }
            }

            .input-search {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                width: 100%;

                .div-input-container {
                    width: 89.6%;
                    display: flex;
                    border: 1px solid var(--border-input);
                    border-radius: 27px;
                    position: relative;
                    background: var(--bg-general);
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;

                    .div-input-button {
                        width: 65%;

                        input {
                            height: 50px;
                            width: 100%;
                            border: none;
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            outline: none;

                        }

                        .icon-search-hidden {
                            width: 20px;
                            right: 20px;
                            position: absolute;
                            left: 21px;

                            &.inactive {
                                display: none;
                            }
                        }

                        img {
                            width: 16px;
                            right: 16px;
                            top: 16px;
                            position: absolute;
                        }
                    }

                    .suggestion-list {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
                        gap: 10px;
                        left: 21px;
                        text-transform: capitalize;

                        div {
                            display: flex;
                            height: 14.6px;
                            width: 100%;

                            img {
                                width: 15.8px;
                                height: 15.8px;
                                margin-right: 14.6px;
                            }

                            li {
                                font-family: 'Roboto', sans-serif;
                                position: absolute;
                                left: 10%;
                                list-style: none;
                                font-size: 16px;
                            }

                        }

                        div:last-child {
                            margin-bottom: 18px;
                        }
                    }
                }

            }



            .article2 {
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                margin-top: 31px;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    width: 25%;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    width: 50%;
                    text-align: center;
                    font-size: 14px;
                    line-height: 25px;
                    padding-bottom: 45px;
                }
            }

            .search-results {
                display: flex;
                width: 100%;
                flex-direction: column;


                .gifs-search-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 21px;
                    overflow: hidden;

                    .gifs-searching {

                        width: 80%;
                        height: 220px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .overlay {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0px;
                            left: 0px;
                            opacity: 0;
                            background: #572EE5;
                            display: flex;
                            flex-direction: column-reverse;

                            .children1 {
                                width: 100%;
                                height: 50%;
                                display: flex;
                                padding-bottom: 20px;
                                padding-left: 10px;
                                text-transform: capitalize;
                                align-items: flex-start;
                                justify-content: flex-end;

                                h3 {
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 15px;
                                    color: #FFFFFF;
                                    margin-bottom: 10px;
                                    width: 80%;
                                    text-align: right;
                                }

                                h2 {
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 15px;
                                    color: #FFFFFF;
                                    line-height: 1;
                                    text-align: justify;
                                    text-align: left;
                                }
                            }

                            .children2 {
                                display: flex;
                                width: 100%;
                                height: 50%;
                                justify-content: flex-end;
                                gap: 11px;
                                padding: 10px 10px;

                                img {
                                    border-radius: 8px;
                                    width: 32px;
                                    height: 32px;
                                    cursor: pointer;
                                }

                            }
                        }

                        .overlay:hover {
                            opacity: 0.6;
                        }
                    }

                }

                .see-more {
                    border: 1px solid #572EE5;
                    border-radius: 25px;
                    padding: 17px 32px;
                    margin: 79px auto;

                    p{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 13px;
                        color: #572EE5;
                        letter-spacing: 0;
                    }
                    &.inactive {
                        display: none;
                    }
                }

                &.inactive {
                    display: none;
                }
            }
        }

        .favorite-section {
            &.inactive {
                display: none;
            }
        }


        .trending-section {
            background: var(--bg-trending);
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            padding-top: 46px;

            :first-child {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                width: 100%;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                }

                p {
                    margin-top: 7px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    line-height: 23px;
                    width: 50%;
                    text-align: center;
                    padding-bottom: 32px;
                }
            }

            .second-section {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 82px;

                .button-slider {
                    width: 30px;
                    height: 30px;
                    opacity: 0.5;
                    z-index: 2;
                    margin: auto 10px;

                    &.left {
                        left: 0;
                    }

                    &.right {
                        right: 0;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .gifs-trending-container {
                    display: flex;
                    width: 200px;
                    align-items: center;
                    position: relative;
                    overflow: hidden;

                    .gifs-trending-wrapper {
                        height: 200px;
                        display: flex;

                        .gifs-trending {
                            width: 200px;
                            height: 100%;
                            position: relative;

                            img {
                                width: 100%;
                                height: 100%;
                                border: 1px solid black;
                            }

                            .overlay {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0px;
                                left: 0px;
                                opacity: 0;
                                background: #572EE5;
                                display: flex;
                                flex-direction: column-reverse;


                                .children1 {
                                    width: 100%;
                                    height: 50%;
                                    display: flex;
                                    padding-bottom: 20px;
                                    padding-left: 10px;
                                    text-transform: capitalize;
                                    align-items: flex-start;
                                    justify-content: flex-end;

                                    h3 {
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 15px;
                                        color: #FFFFFF;
                                        margin-bottom: 10px;
                                        width: 80%;
                                        text-align: right;
                                    }

                                    h2 {
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 15px;
                                        color: #FFFFFF;
                                        line-height: 1;
                                        text-align: justify;
                                        text-align: left;
                                    }
                                }

                                .children2 {
                                    display: flex;
                                    width: 100%;
                                    height: 50%;
                                    justify-content: flex-end;
                                    gap: 11px;
                                    padding: 10px 10px;

                                    img {
                                        border-radius: 8px;
                                        width: 32px;
                                        height: 32px;
                                        cursor: pointer;
                                    }

                                }
                            }

                            .overlay:hover {
                                opacity: 0.6;
                            }

                            ;
                        }
                    }
                }
            }

            &.inactive {
                display: none;
            }

        }

        &.inactive {
            display: none;
        }
    }

    .footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        padding-top: 47px;
        background: var(--bg-general);

        :first-child {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            letter-spacing: 0;
        }

        ul {
            width: 100%;
            display: flex;
            gap: 19px;
            justify-content: center;
            margin-top: 24px;
            margin-bottom: 47px;
        }

        .last-p {
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
            padding-bottom: 23px;
            border-bottom: 5px solid var(--border);
            text-align: center;
        }

        &.inactive {
            display: none;
        }

    }
}


@media (min-width: 768px) {
    body {
        .container {
            .header {
                .burguer {
                    display: none;
                }

                .logo {
                    cursor: pointer;
                    position: relative;
                    left: 54px;
                }

                .tabs {
                    width: 100%;
                    justify-content: flex-end;

                    ul {
                        width: 50%;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 5%;

                        li {
                            cursor: pointer;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 13px;
                            color: #572EE5;
                            letter-spacing: 0;
                            text-align: center;
                        }

                        img {
                            cursor: pointer;
                            margin-right: 13.2%;
                        }
                    }
                }
            }

            .main {
                .create-section {
                    display: flex;
                    flex-flow: column;

                    .section1 {
                        display: flex;
                        width: 100%;

                        .camera-img {
                            position: relative;
                            width: 25%;
                        }

                        .camera-section {
                            width: 50%;
                            border: 1px solid #572EE5;
                            padding: 21px;

                            .camera-video {
                                border: 1px solid #50E3C2;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .extra-div {
                            width: 25%;
                        }
                    }



                    &.inactive {
                        display: none;
                    }
                }

            }
        }

    }

}

@media (max-width: 768px) {
    body {
        .container {
            .header {
                .tabs {
                    display: none;
                }

            }
        }

    }
}